.container {
    flex-wrap: wrap;
    margin-top: 80px !important;
}

.container .card {
    background-color: rgba(128, 128, 128, 0.097);
    width: 15rem;
}

.container .card-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .card-price {
    color: green;
    font-weight: bold;
}

.container button {
    border-radius: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.container .card-text {
    color: rgb(90, 89, 89);
    align-items :baseline;
}

.container .card img:hover {
    transform: scale(1.02);
}

.container .card-img-top {
    height: 300px !important;
}

#card-button {
    /* position: absolute; */
    bottom: 1px;
    /* border-bottom-style: dotted; */
    margin-top: 2rem;
    /* padding: 0.8rem 1.6rem; */
}